<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="MyServiceEndPoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:5418/DQService" binding="netTcpBinding"
                bindingConfiguration="MyServiceEndPoint" contract="ServiceReference1.IDQService"
                name="MyServiceEndPoint" />
        </client>
    </system.serviceModel>
</configuration>