<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xs" type="Common.XsSection, Common"/>
  </configSections>
  <xs>
    <include assembly="Service"/>
    <include assembly="Common"/>
  </xs>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:5417/ServiceMetadata" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer ignoreExtensionDataObject="false" />
          <serviceThrottling maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="nettcpbinding" closeTimeout="01:01:00" openTimeout="01:01:00"
          sendTimeout="01:01:00" maxBufferPoolSize="0" maxBufferSize="2147483647"
          maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="01:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service.DQService">
        <endpoint address="net.tcp://127.0.0.1:5418/DQService" binding="netTcpBinding"
          bindingConfiguration="nettcpbinding" name="MyServiceEndPoint"
          contract="ServiceContract.IDQService" />
        <host >
          <baseAddresses >
            <add baseAddress="http://127.0.0.1:5419/DQService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>