
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<video controls="controls">
    <source src="~/Content/1.mp4" type="video/mp4" />
</video>

<video controls="controls">
    <source src="~/Content/%e6%9f%b4%e8%83%a1%e7%a7%8d%e6%a4%8d%e8%a7%86%e9%a2%91%e6%8a%80%e6%9c%af%20-%20%e8%a7%86%e9%a2%91%e4%bf%a1%e6%81%af%20-%20%e9%bb%94%e5%86%9c%e7%bd%91(1).mp4" type="video/mp4" />
</video>